*.adf
*.ct
*.dsk
*.hfe
*.img
*.ipf
*.scp
*.[oa]
*.[oa]pic
.*.d
*~
*.dylib
*.so
*.so.*
*.orig
*.rej
adf/adfbb
adf/adfread
adf/adfwrite
disk-analyse/disk-analyse
ipfinfo/ipfinfo
m68k/disassemble
m68k/copylock
m68k/m68k_emulate
scp/scp_dump
scp/scp_write
